*{
    margin: 0;
}
body{
    background-color: rgb(253, 243, 243);
}

.card:hover{
    background-color: white;
    border-color: white;
}

.image{
    position: relative;
}

.off{
    font-size: 30px;
    color: white;
    background-color: rgba(218, 13, 16 , 0.4);
    position: absolute;
    bottom: 20px;
    left: 10
    px;
}

.card{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 10px solid rgb(253, 243, 243);
    border-radius: 20px;
}

.first{
    margin-left: 200px;
    margin-bottom: 20px;
}

.second{
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
}
.img3{
    height: 70px;
    width: 70px;
}
.dine, .Nighting, .delivary{
    position: relative;
    bottom: 22px;
    left: 5px;
    font-size: 20px;
    color: rgb(98, 93, 93);
}

.dining{
    margin-left: 200px;
}

.delivery{
    margin-left: 50px;
    margin-right: 50px;
}

.third{
    height: 1000px;
    background-color: rgb(88, 86, 86);
}

.brand{
    color: rgb(216, 5, 5);
    margin-right: 50px;
    font-weight: bold;
    font-size: 30px;
}

.searching{
    height: 30px;
    width: 400px;
    margin-right: 50px;
    position: relative;
    bottom: 13px;
}

button{
    height: 50px;
    width: 80px;
    position: relative;
    bottom: 10px;
    font-size: 15px;
    margin-right: 50px;
    background-color: white;
    border: none;
    color: rgb(101, 97, 97);
}
.head{
    background-color: white;
}
.Box{
    display: inline-block;
}

.img{
     height: 250px;
     width: auto;
     border-radius: 20px;
}

.restaurent_name{
    font-size: 20px;
    font-weight: bold;
}

.restaurent, .foodinfo, .address{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating{
    background-color: green;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 3px;
    color: white;
    border-radius: 8px;
}

.price{
    position: absolute;
    right: 5px;
}

.distance{
    position: absolute;
    right: 5px;
}
.foodinfo, .add_name{
    font-size: 20px;
    color: rgb(88, 88, 88);
}

.distance{
    font-weight: bold;
    font-size: 10px;
}