*{
    margin: 0;
}

.card{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.Box{
    display: inline-block;
}

.img{
     height: 250px;
     width: auto;
     border-radius: 20px;
}

.restaurent_name{
    font-size: 20px;
    font-weight: bold;
}

.restaurent, .foodinfo, .address{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating{
    background-color: green;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 3px;
    color: white;
    border-radius: 8px;
}

.price{
    position: absolute;
    right: 5px;
}

.distance{
    position: absolute;
    right: 5px;
}