.container{
    background-color: bisque;
    height: 700px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    /*align-items: stretch;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.box{
    height: 150px;
    width: 150px;
    margin: 5px;
    border: 3px black solid;
    border-radius: 10px;
    text-align: center;
}


/*.first{
    font-size: 50px;
}
.second{
    font-size: 30px;
}*/

.box1{
    background-color: yellow;
}
.box2{
    background-color: purple;
}
.box3{
    background-color: chocolate;
}
.box4{
    background-color: green;
}
