.img3{
    height: 300px;
    width: auto;
    float: left;
    margin-right: 10px;
}

.img1{
    height: 300px;
    width: auto;
    float: right;
    margin-left: 10px;
}

.img2{
    height: 300px;
    width: auto;
    float: left;
    margin-right: 10px;
}