.card {
  background: #1e293b;
  color: #e2e8f0;
  padding: 25px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.role {
  color: #38bdf8;
}